@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}


@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }











  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

*{
  margin: 0%;
  padding: 0%;
}

@font-face {
  font-family: myFirstFont;
  src: url(TitilliumWeb-Regular.ttf);
}

div {
  font-family: myFirstFont;
}


/* hero2 */
:root {
  --hero-height: 60vh;
  --hero-max-height: 600px;

  --Brown-Orange:rgba(216, 123, 0);
  --Orange:rgba(255,165,0);
  --Black:rgba(10,10,10);
  --Brown-Orange-nav: rgb(216, 123, 0);
  --Wit:rgba(255,255,255);
  --Background-Black:rgba(51, 51, 51);
}

.hero2 {
  display: grid;
  grid-template-areas: "hero";
  place-items: center;
  height: var(--hero-height);
  max-height: var(--hero-max-height);
  background-color:rgba(0, 0, 0, 0.5);
}

.hero2>* {
  grid-area: hero;
}

.hero2-content {
  z-index: 1;
  color: white;
}

.hero2>img {
  z-index: -1;

  object-fit: cover;
  height: min(var(--hero-height), var(--hero-max-height));
  width: 100%;
}


body {
  background-color: var(--Background-Black);
  color: var(--Orange);
  font-family: myFirstFont;

.boximg{

  border: solid var(--Orange);
  padding: 2rem;
  background-color: var(--Black);
  margin-inline: auto;
  max-width: 80ch;
  margin-top: 12ch;
  padding-bottom: 22rem;
  max-height: auto;

}


}

.box {
  border: solid var(--Orange);
  padding: 2rem;
  background-color: var(--Black);
  margin-inline: auto;
  max-width: 80ch;
  margin-top: 12ch;
}

.logo {
  max-width: 5%;
  max-height: 5%;
  display: block;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: -15px;
  min-height:50px ;
  min-width: 50px;
}

img {
  size: 8px;
  box-sizing: border-box;
}

.rightimg {
  float:right ;
  border-radius: 100%;

  
}

.topnav {
  color: var(--Black);
  background-color: var(--Brown-Orange-nav);
  overflow: hidden;
  row-gap: 10px;
  display: flex;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: var(--Wit);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: var(--Black);
  padding-left: 30px;
  padding-right: 30px;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--Orange);
  color: var(--Black)
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--Orange);
  color: var(--Black);
}

.topnav .icon{
  display: none;
}

.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}







.site-foot {
  color: var(--Orange) ;
  background-color: var(--Black);
  padding: 1.25rem;
  margin-top: 2rem;
}

.site-foot ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-foot p {
  margin-top: 3rem;
  text-align:center ;
  font-size: larger;
  
}
li{
  width: 10rem;
  display: grid;
  place-items:center;
  border: 1px solid var(--Wit)
}




.color-list{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  padding-top: 10px;
} 

.black{
  background-color: var(--Black);
}
.orange{
  background-color: var(--Orange);
  color: var(--Black);
}
.brown-orange{
  background-color: var(--Brown-Orange);
  color: var(--Black);
}
.wit{
  background-color: var(--Wit);
  color: black;
}
.background-black{
  background-color: var(--Background-Black);
}
.sliver{
  background-color: var(--Brown-Orange-nav);
  color: black;
}

.example-img{
  max-width: 50%;
  max-height: 50%;
  width: 200px;
  height: 200px;
}

